* {
  margin: 0;
  padding: 0; }

a,
a:hover,
a:focus {
  text-decoration: none; }

ol,
ul {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Teko", sans-serif;
  font-weight: 500;
  color: #ffffff;
  margin: 0; }

p {
  margin: 0; }

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .title h2 {
    display: inline-block;
    font-size: 40px;
    font-weight: 400;
    color: #ef3e78;
    margin-bottom: 40px; }
    .title h2 img {
      display: block;
      width: 90%;
      height: 2px; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #444444;
  line-height: 26px; }

/* -------------------------navbar part start------------------------- */
#navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background: #ffffff;
  z-index: 999;
  padding: 0; }
  #navbar .navbar-brand {
    padding: 0; }
  #navbar ul li {
    position: relative; }
    #navbar ul li a {
      font-family: "Teko", sans-serif;
      font-size: 24px;
      font-weight: 400;
      color: #222222;
      text-transform: capitalize;
      margin-left: 30px;
      padding: 35px 0;
      -webkit-transition: linear 0.4s;
      transition: linear 0.4s;
      position: relative; }
      #navbar ul li a i {
        position: absolute;
        top: 50%;
        left: -18px;
        -webkit-transform: translateY(-50%) rotateX(0deg);
                transform: translateY(-50%) rotateX(0deg);
        width: 15px;
        height: 15px;
        font-size: 25px;
        -webkit-transition: linear 0.4s;
        transition: linear 0.4s; }
      #navbar ul li a:hover {
        color: #ef3e78; }
      #navbar ul li a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 3px;
        background: #ef3e78;
        -webkit-transition: linear 0.4s;
        transition: linear 0.4s; }
      #navbar ul li a:hover::before {
        width: 100%; }
    #navbar ul li .active {
      color: #ef3e78; }
      #navbar ul li .active::before {
        width: 100%; }
    #navbar ul li ul {
      position: absolute;
      bottom: 0px;
      left: 53px;
      min-width: 100px;
      text-align: center;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
      #navbar ul li ul li {
        display: inline-block; }
        #navbar ul li ul li a {
          margin-left: 0;
          padding: 8px 12px;
          font-size: 22px;
          opacity: 0; }
          #navbar ul li ul li a::before {
            display: none; }
    #navbar ul li:hover ul li a {
      opacity: 1; }
    #navbar ul li:hover i {
      -webkit-transform: translateY(-50%) rotateX(180deg);
              transform: translateY(-50%) rotateX(180deg); }
  #navbar ul #check_status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #navbar ul #check_status a {
      color: #ffffff;
      padding: 10px 30px !important;
      border-radius: 5px;
      background: #ef3e78;
      margin-left: 150px; }
      #navbar ul #check_status a:hover {
        color: #444444; }
      #navbar ul #check_status a::before {
        display: none; }

.fixed_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  -webkit-animation: menu_move ease-in 0.6s;
          animation: menu_move ease-in 0.6s; }
@-webkit-keyframes menu_move {
  from {
    top: -50px; }
  to {
    top: 0; } }
@keyframes menu_move {
  from {
    top: -50px; }
  to {
    top: 0; } }
/* -------------------------navbar part end------------------------- */
/* -------------------------banner part start------------------------- */
#banner_part {
  background: url(../images/our-service-bg.jpg) no-repeat right;
  background-size: cover;
  padding: 120px 0; }
  #banner_part .banner_text {
    text-align: center; }
    #banner_part .banner_text h2 {
      font-size: 32px;
      color: #ef3e78; }
    #banner_part .banner_text h5 {
      font-size: 20px;
      color: #222222; }
      #banner_part .banner_text h5 a {
        color: #222222;
        -webkit-transition: linear 0.4s;
        transition: linear 0.4s; }
        #banner_part .banner_text h5 a:hover {
          color: #ef3e78; }
      #banner_part .banner_text h5 span i {
        font-size: 16px; }

/* -------------------------banner part end------------------------- *
    
/* ------------------------- details part start------------------------- */
#details_part .details_items {
  margin: 80px 0; }
  #details_part .details_items .details_img {
    width: 100%;
    height: auto; }
    #details_part .details_items .details_img img {
      width: 100%;
      height: 100%; }
  #details_part .details_items .img_details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 16px; }
    #details_part .details_items .img_details .details_box p {
      color: #999999; }
    #details_part .details_items .img_details .details_box h6 {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 400;
      color: #444444; }
  #details_part .details_items .details_text {
    margin: 60px 0 40px 0;
    text-align: center; }
    #details_part .details_items .details_text h3 {
      font-size: 30px;
      color: #222222; }
    #details_part .details_items .details_text .p_first {
      margin: 16px 0; }
  #details_part .details_items .details_blog .blog_items h3 {
    font-size: 30px;
    color: #222222; }
  #details_part .details_items .details_blog .blog_items .p_first {
    margin: 16px 0; }
  #details_part .details_items .details_blog .blog_img {
    width: 100%;
    height: auto; }
    #details_part .details_items .details_blog .blog_img img {
      width: 100%;
      height: 100%; }
  #details_part .details_items .details_blog .blog_text .p_first {
    margin: 30px 0 16px 0; }
  #details_part .details_items .share_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 30px 0; }
    #details_part .details_items .share_box .share_text {
      -ms-flex-item-align: center;
          align-self: center;
      position: relative; }
      #details_part .details_items .share_box .share_text::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 108%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        background: #999999;
        width: 100px;
        height: 1px; }
    #details_part .details_items .share_box .share_icons i {
      font-size: 16px;
      color: #ef3e78;
      width: 50px;
      height: 50px;
      border: 1px solid #ef3e78;
      border-radius: 5px;
      line-height: 50px;
      text-align: center;
      background: #ffffff;
      margin-right: 10px;
      -webkit-transition: linear 0.4s;
      transition: linear 0.4s; }
      #details_part .details_items .share_box .share_icons i:hover {
        color: #ffffff;
        background: #ef3e78;
        border: 1px solid transparent; }
  #details_part .details_items .tag_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 35px 0 30px 0; }
    #details_part .details_items .tag_box .tag_text {
      -ms-flex-item-align: center;
          align-self: center;
      position: relative; }
      #details_part .details_items .tag_box .tag_text::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 108%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        background: #999999;
        width: 100px;
        height: 1px; }
    #details_part .details_items .tag_box .tag_items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      #details_part .details_items .tag_box .tag_items a {
        color: #999999; }
        #details_part .details_items .tag_box .tag_items a p {
          padding: 8px 18px;
          border: 1px solid #999999;
          margin-left: 10px;
          -webkit-transition: linear 0.4s;
          transition: linear 0.4s; }
          #details_part .details_items .tag_box .tag_items a p:hover {
            border: 1px solid #ef3e78; }
        #details_part .details_items .tag_box .tag_items a:hover {
          color: #ef3e78; }
  #details_part .details_items .comments h2 {
    font-size: 30px;
    color: #ef3e78;
    border-bottom: 1px solid rgba(153, 153, 153, 0.3);
    padding-bottom: 2px; }
  #details_part .details_items .comments .comments_left {
    margin: 30px 0; }
    #details_part .details_items .comments .comments_left .row {
      margin-bottom: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid rgba(153, 153, 153, 0.3); }
    #details_part .details_items .comments .comments_left .comments_img {
      width: 100%;
      height: auto; }
      #details_part .details_items .comments .comments_left .comments_img img {
        width: 100%;
        height: 100%; }
    #details_part .details_items .comments .comments_left .c_img_details .name_title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 100%; }
      #details_part .details_items .comments .comments_left .c_img_details .name_title .name h4 {
        font-size: 20px;
        color: #222222; }
      #details_part .details_items .comments .comments_left .c_img_details .name_title .hours p {
        color: #999999; }
    #details_part .details_items .comments .comments_left .name_details .reply {
      margin-top: 5px; }
      #details_part .details_items .comments .comments_left .name_details .reply a {
        color: #999999;
        -webkit-transition: linear 0.4s;
        transition: linear 0.4s; }
        #details_part .details_items .comments .comments_left .name_details .reply a:hover {
          color: #ef3e78; }
  #details_part .details_items .comments .comments_right .row {
    margin: 30px 0; }
  #details_part .details_items .comments .comments_right .user_icon {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); }
    #details_part .details_items .comments .comments_right .user_icon img {
      width: 100%;
      height: 100%; }
  #details_part .details_items .comments .comments_right .empty_box {
    width: 100%;
    height: 200px;
    border: 1px solid rgba(153, 153, 153, 0.3);
    border-radius: 5px; }
  #details_part .details_items .comments .comments_right .comments_login p {
    margin-top: 5px; }
    #details_part .details_items .comments .comments_right .comments_login p a {
      text-decoration: underline;
      -webkit-transition: linear 0.4s;
      transition: linear 0.4s; }
      #details_part .details_items .comments .comments_right .comments_login p a:hover {
        color: #999999; }
  #details_part .details_items .updates {
    margin-top: 30px; }
    #details_part .details_items .updates .updates_items .updates_img {
      width: 100%;
      height: auto; }
      #details_part .details_items .updates .updates_items .updates_img img {
        width: 100%;
        height: 100%; }
    #details_part .details_items .updates .updates_items .u_img_text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 5px; }
      #details_part .details_items .updates .updates_items .u_img_text .t-content p {
        color: #999999; }
    #details_part .details_items .updates .updates_items .updates_details h3 {
      font-size: 30px;
      margin: 8px 0; }
      #details_part .details_items .updates .updates_items .updates_details h3 a {
        color: #222222;
        -webkit-transition: linear 0.4s;
        transition: linear 0.4s; }
    #details_part .details_items .updates .updates_items .updates_details .u_btn {
      margin-top: 10px; }
      #details_part .details_items .updates .updates_items .updates_details .u_btn a {
        font-family: "Teko", sans-serif;
        font-weight: 500;
        font-size: 22px;
        color: #222222;
        -webkit-transition: linear 0.4s;
        transition: linear 0.4s; }
        #details_part .details_items .updates .updates_items .updates_details .u_btn a i {
          font-size: 16px; }
    #details_part .details_items .updates .updates_items:hover .updates_details h3 a {
      color: #ef3e78; }
    #details_part .details_items .updates .updates_items:hover .updates_details .u_btn a {
      color: #ef3e78; }
    #details_part .details_items .updates .updates_btn {
      text-align: center;
      margin-top: 40px; }
      #details_part .details_items .updates .updates_btn a {
        display: inline-block;
        font-family: "Teko", sans-serif;
        color: #ffffff;
        background: #ef3e78;
        font-size: 24px;
        font-weight: 400;
        padding: 14px 30px;
        border-radius: 5px;
        -webkit-transition: linear 0.4s;
        transition: linear 0.4s;
        margin: 0 auto; }
        #details_part .details_items .updates .updates_btn a:hover {
          color: #222222; }

/* ------------------------- details part end------------------------- */
/* ------------------------- footer part start------------------------- */
#footer_part {
  background: url(../images/footer-bg-img.jpg);
  font-size: 14px;
  color: #ffffff;
  padding-top: 60px; }
  #footer_part .footer_text .footer_details p:first-child {
    padding: 30px 0; }
  #footer_part .footer_text .footer_details .footer_icons {
    margin-top: 20px;
    margin-bottom: 30px; }
    #footer_part .footer_text .footer_details .footer_icons i {
      font-size: 16px;
      color: #ef3e78;
      width: 50px;
      height: 50px;
      border-radius: 5px;
      line-height: 50px;
      text-align: center;
      background: #ffffff;
      margin-right: 10px;
      -webkit-transition: linear 0.4s;
      transition: linear 0.4s; }
      #footer_part .footer_text .footer_details .footer_icons i:hover {
        color: #ffffff;
        background: #ef3e78; }
  #footer_part .footer_links h3 {
    font-size: 30px; }
  #footer_part .footer_links ul li {
    color: #ffffff;
    margin-top: 30px;
    -webkit-transition: linear 0.4s;
    transition: linear 0.4s; }
    #footer_part .footer_links ul li:hover {
      opacity: 0.8; }
  #footer_part .contact ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px; }
    #footer_part .contact ul li .contact_icon i {
      font-size: 16px;
      color: #ef3e78;
      width: 50px;
      height: 50px;
      border-radius: 5px;
      line-height: 50px;
      text-align: center;
      background: #ffffff;
      margin-right: 40px; }
  #footer_part .copyright {
    text-align: center; }
    #footer_part .copyright p {
      padding: 30px 0;
      border-top: 1px solid #f4f4f4; }

/* ------------------------- footer part end------------------------- */

/*# sourceMappingURL=blog_details.css.map */